beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
finviz-data @ git+https://github.com/diversen/finviz-data@3d350112a42fc4ab18500bb094af95614faaf6fe
idna==3.6
lxml==6.0.0
numpy>=2.2.0,<2.4.0
pandas==2.3.0
python-dateutil==2.9.0.post0
python-sqlite-cache==0.0.2
pytz==2025.2
requests==2.31.0
six==1.17.0
soupsieve==2.5
tzdata==2025.2
urllib3==2.1.0
